.form-col{
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

.row{
    flex-direction: row;
}

input{
    width: max-content;
}

.urls{
    padding-bottom: 1rem;
}

.subtitle{    
    opacity: 0.7;
}

.title-subtitle{
    padding-bottom: 1rem;
}

.title-subtitle h2{
    margin-bottom: 0 !important;
}

#saved, #pubUrlLabel, #embedUrlLabel{
    display: none;
}

#embedUrl, #pubUrl, .copy-btn {
    vertical-align: middle;
}

.copy-btn{
    background-image: var(--icon-clippy-000);    
    background-repeat: no-repeat;
    background-position: center;
    background-color: unset !important;
    border: none !important;
}

#appointments h3{
    font-weight: 600;
    margin-bottom: unset;
}